{% for ad in object_list %}
	<h1>AD</h1>>
	{{ad.title}}
	{{ad.description}}
	{{ad.phone_number}}
	<br>
	<h4>Topups:</h4>
	{% for topup in ad.topup_set.all %}
	
	status:{{topup.get_status_display}}
	money:{{topup.money_paid}}
	clicks: {{topup.clicks}}
	{{topup.phone_number}}
	{{topup.id}}
	{% if topup.status != 4 %}
	<a href="/superuser/topup/suspend/{{topup.id}}"> suspend </a> 
	{% endif %}
	<a href="/superuser/topup/delete/{{topup.id}}">
	delete
	</a>
	{% if topup.status == 5 %}
	<a href="/superuser/topup/verify/{{topup.id}}"> VERIFY </a>
	{%endif%}
	{% if topup.status == 4 %}
	<a href="/superuser/topup/resume/{{topup.id}}">
	resume
	</a>
	{% endif %}
	<br>
	{%endfor%}
{% endfor %}