
<html>
<head>
<style type="text/css">
div {
    margin: 0px;
    padding: 0px;
}
h1 {
    margin: 0px;
    padding: 0px;
}

table {
    margin: 0px;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0px;
}
th {
    text-align: left;
}
</style>
</head>
<body>
<h1>
Unapproved Ads</h1>

<table style="width:100%; ">
  <tr>
    <th>ID</th>
    <th>Title</th> 
    <th>Description</th>
    <th>Location(s)</th>
    <th>ZXX</th>
  </tr>
 
{% for ad in unapproved_ads %}
<tr>
	<td>{{ad.id}}</td> <td> {{ad.title}}</td> <td>{{ad.description}}</td>  
	<td>
	{%  for loc in ad.locations_set.all %}
		{{loc.get_location_display}}{% if not forloop.last %},{% endif %}
	{% endfor %} 
	</td>
	<td>
	<a href="/ad/approve/{{ad.id}}"><button style="background-color: #4CAF50;"> Approve </button> </a>
	<a href="/ad/update/{{ad.id}}"><button > Edit </button> </a>
	<a href="/ad/delete/{{ad.id}}"><button style="background-color: #f44336;"> Delete </button> </a>
	</td>
</tr>
{% endfor %}
</table>


<h3>
Unpaid/Approved Ads
</h3>

<table style="width:100%; ">
  <tr>
    <th>ID</th>
    <th>Title</th> 
    <th>Description</th>
    <th>Location(s)</th>
    <th>ZXX</th>
  </tr>
 
{% for ad in approved_ads %}

	<tr><td>{{ad.id}}</td><td> {{ad.title}}</td><td> {{ad.description}}</td>   
	<td>
	{%  for loc in ad.locations_set.all %}
		{{loc.get_location_display}}{% if not forloop.last %},{% endif %}
	{% endfor %} 
	</td>
	<td> <a href="/ad/delete/{{ad.id}}"><button > Delete! </button> </a> </td>
	</tr>
{% endfor %}

</table>

<h3>
Paused Ads
</h3>

{% for ad in paused_ads %}
{{ad.title}} {{ad.description}}  id:{{ad.id}}  
	Locations: 
	{%  for loc in ad.locations_set.all %}
		{{loc.get_location_display}},
	{% endfor %} 
	{% if can_claim %}
		<a href="/ad/claim/{{ad.id}}"><button > Claim! </button> </a>
	{% endif %}
	<br>
{% endfor %}
{% if not can_claim %}
 {{timediff}}
{% endif %}

<h3>
My Claimed Ads
</h3>



{% for ad in my_claimed_ads %}
	{{ad.title}} {{ad.description}} {{ad.phone_number}}  id:{{ad.id}}  
	Locations: 
	{%  for loc in ad.locations_set.all %}
		{{loc.get_location_display}},
	{% endfor %}
	<a href="/ad/close/{{ad.id}}"><button > Close! </button> </a> 
	<a href="/ad/delete/{{ad.id}}"><button > Delete! </button> </a>
	<br>
{% endfor %}

<h3>
My Closed Topup(Awaiting payment)
</h3>

{% for topup in my_closed_topup %}
	{{topup.ad.title}} {{topup.phone_number}} {{topup.cnic}} Money:{{topup.money_paid}} Clicks:{{topup.clicks}}
	<a href='/topup/khoofia/{{topup.id}}'>put khoofia</a>
{% endfor %}

<h3>
Paid Topups
</h3>

{% for topup in unverified_topup %}
	{{topup.ad.title}} {{topup.phone_number}} {{topup.cnic}} Money:{{topup.money_paid}} Clicks:{{topup.clicks}}
	<a href='/topup/khoofia/{{topup.id}}'>put khoofia</a>
	<a href='/topup/verify/{{topup.id}}'>verify</a>
{% endfor %}

{% for topup in verified_topup %}
	{{topup.ad.title}} {{topup.phone_number}} {{topup.cnic}} Money:{{topup.money_paid}} Clicks:{{topup.clicks}}
{% endfor %}


<h3> Paid Stopped
</h3>

{% for ad in my_stopped_ads %}
	{{ad.title}}

		<a href="/ad/close/{{ad.id}}"><button > Close! </button> </a> <a href="/ad/sunset/{{ad.id}}"><button > Sunset! </button> </a> 
{% endfor %}

<a href='logout'> Logout </a>
</body>
</html>