
<h3>
Unapproved Ads
</h3>
{% for ad in unapproved_ads %}
	{{ad.title}} {{ad.description}}  id:{{ad.id}}  
	Locations: 
	{%  for loc in ad.locationcounter_set.all %}
		{{loc.get_location_display}},
	{% endfor %} 
	<a href="/ad/approve/{{ad.id}}"><button > Approve! </button> </a>
	<a href="/ad/delete/{{ad.id}}"><button > Delete! </button> </a>
	<br>
{% endfor %}


<h3>
Unpaid/Approved Ads
</h3>

{% for ad in approved_ads %}
	{{ad.title}} {{ad.description}}  id:{{ad.id}}  
	Locations: 
	{%  for loc in ad.locationcounter_set.all %}
		{{loc.get_location_display}},
	{% endfor %} 
	<a href="/ad/delete/{{ad.id}}"><button > Delete! </button> </a>
	<br>
{% endfor %}


<h3>
Paused Ads
</h3>

{% for ad in paused_ads %}
{{ad.title}} {{ad.description}}  id:{{ad.id}}  
	Locations: 
	{%  for loc in ad.locationcounter_set.all %}
		{{loc.get_location_display}},
	{% endfor %} 
	{% if can_claim %}
		<a href="/ad/claim/{{ad.id}}"><button > Claim! </button> </a>
	{% endif %}
	<br>
{% endfor %}
{% if can_claim %}
zx
{% endif %}

<h3>
My Claimed Ads
</h3>

{% for ad in my_claimed_ads %}
	{{ad.title}} {{ad.description}}  id:{{ad.id}}  
	Locations: 
	{%  for loc in ad.locationcounter_set.all %}
		{{loc.get_location_display}},
	{% endfor %}
	<a href="/ad/close/{{ad.id}}"><button > Close! </button> </a> 
	<a href="/ad/delete/{{ad.id}}"><button > Delete! </button> </a>
	<br>
{% endfor %}




<a href='logout'> Logout </a>